<div class="container">
	<h2>ボディ情報編集</h2>
	<hr>
	<div class="row">
		<div class="col-xs-3">
			<%= form_with @body do |f| %><table>
				<tbody>
					<tr><%= f.text_field :name, autofocus: true, class:"form-control", autocomplete: "on" %></tr>
					<tr><%= f.text_field :manufacturer, class:"form-control", autocomplete: "on" %></tr>
					<tr><%= f.text_field :sensor_size, class:"form-control", autocomplete: "on" %></tr>
					<tr><%= f.text_field :mount, class:"form-control", autocomplete: "on" %></tr>
					<tr>
					<td><label><%= f.radio_button :film, "true" %>フィルムカメラ</label>
						<label><%= f.radio_button :film, "false" %>デジタルカメラ</label>
					</td>
				</tr>
				<tr>
					<td><label><%= f.radio_button :reflex, "true" %>レフ機</label>
						<label><%= f.radio_button :reflex, "false" %>ミラーレス機</label>
					</td>
				</tr>
				<tr>
					<td><label><%= f.radio_button :interchangeable, "true" %>レンズ交換式カメラ</label>
						<label><%= f.radio_button :interchangeable, "false" %>レンズ交換不可</label>
					</td>
				</tr>
				</tbody>
			</table>
			<%= f.submit "更新" %>
			<% end %>
			<%= link_to "戻る", :back %>
		</div>
	</div>
</div>
