<div class="container">
	<h2>ボディ情報編集</h2>
	<hr>
	<div class="row">
		<div class="col-xs-3">
			<%= form_for(@body) do |f| %>
			<table>
				<tbody>
					<tr>
						<td><%= f.text_field :name, autofocus: true, class:"form-control", autocomplete: "on" %></td>
					</tr>
					<tr>
						<td><%= f.text_field :manufacturer, class:"form-control", autocomplete: "on" %></td>
					</tr>
					<tr>
						<td><%= f.text_field :sensor_size, class:"form-control", autocomplete: "on" %></td>
					</tr>
					<tr>
						<td><%= f.text_field :mount, class:"form-control", autocomplete: "on" %></td>
					</tr>
					<tr>
						<td><label><%= f.radio_button :film, "1" %>フィルムカメラ</label>
							<label><%= f.radio_button :film, "2" %>デジタルカメラ</label>
						</td>
					</tr>
					<tr>
						<td><label><%= f.radio_button :reflex, "1" %>レフ機</label>
							<label><%= f.radio_button :reflex, "2" %>ミラーレス機</label>
						</td>
					</tr>
					<tr>
						<td><label><%= f.radio_button :interchangeable, "1" %>レンズ交換式カメラ</label>
							<label><%= f.radio_button :interchangeable, "2" %>レンズ交換不可</label>
						</td>
					</tr>
					<tr><td><%= f.submit "更新" %></td></tr>
				</tbody>
			</table>
			<% end %>
			<%= link_to "戻る", :back %>
		</div>
	</div>
</div>
