<div class="container">
	<h2>ボディ追加</h2>
	<hr>
	<div class="row">
		<table>
			<tbody>
				<%= form_for(@body, url: '/bodies') do |f| %>
				<tr>
					<td>メーカー:</td>
					<td><%= f.collection_select :manufacturer_id, @manufacturers, :id, :manufacturer, :prompt => "メーカーを選択" %>
						<%= link_to "メーカー追加", new_manufacturer_path, class:"btn btn-default btn-sm" %></td>
				</tr>
				<tr>
					<td>ボディ名:</td>
					<td><%= f.text_field :name %></td>
				</tr>
				<tr>
					<td>センサーサイズ:</td>
					<td><%= f.text_field :sensor_size %></td>
				</tr>
				<tr>
					<td>マウント:</td>
					<td><%= f.text_field :mount %></td>
				</tr>
				<tr>
					<td><label><%= f.radio_button :film, "film" %>フィルムカメラ</label>
						<label><%= f.radio_button :film, "degital" %>デジタルカメラ</label>
					</td>
				</tr>
				<tr>
					<td><label><%= f.radio_button :reflex, "reflex" %>レフ機</label>
						<label><%= f.radio_button :reflex, "mirrorless" %>ミラーレス機</label>
					</td>
				</tr>
				<tr>
					<td><label><%= f.radio_button :interchangeable, "interchangeable" %>レンズ交換式カメラ</label>
						<label><%= f.radio_button :interchangeable, "bilt_in" %>レンズ交換不可</label>
					</td>
				</tr>
				<tr>
					<td><%= f.submit "ボディ追加", class:"btn btn-primary btn-sm" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<%= link_to "戻る", :back, class:"btn btn-default btn-sm" %>
	</div>
	<% @bodies.each do |body| %>
		<table class="table table-bordered">
				<td class="col-xs-3"><%= link_to "#{body.name}", edit_body_path(body.id) %></td>
		</table>
	<% end %>
</div>