<div class="container" style="margin-bottom: 100px;">
	<h2>ボディ詳細</h2>
	<hr>
	<%= notice %>
	<div class="row">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th colspan="2"><%= @body.name %></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>メーカー</td>
					<td><%= @body.manufacturer.manufacturer %></td>
				</tr>
				<tr>
					<td>センサーサイズ</td>
					<td><%= @body.sensor_size %></td>
				</tr>
				<tr>
					<td>マウント</td>
					<td><%= @body.mount %></td>
				</tr>
				<tr>
					<td>film or degital</td>
					<td><%= @body.film %></td>
				</tr>
				<tr>
					<td>reflex or mirrorless</td>
					<td><%= @body.reflex %></td>
				</tr>
				<tr>
					<td>レンズ交換</td>
					<td><%= @body.interchangeable %></td>
				</tr>
			</tbody>
		</table>
		<%= link_to "ボディ情報を編集する", edit_body_path(@body.id), class:"btn btn-success btn-sm" %>
	</div>
	<div class="row">
		<h2>ボディ作例</h2>
		<hr>
		<table>
			<tr>
				<% @photos.each do |photo| %>
				<td><%= image_tag photo.image, size:"250x250" %><br>
					<%= link_to "#{photo.title}" ,photo_path(photo.id) %>
					<%= link_to "(@#{photo.user.account_id })", user_path(photo.user.id) %>
				</td>
				<% end %>
			</tr>
		</table>
	</div>
</div>

