<div class="container">
	<%= notice %>
	<div class="row">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th><%= @body.name %></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>メーカー</td>
					<td><%= @body.manufacturer %></td>
				</tr>
				<tr>
					<td>センサーサイズ</td>
					<td><%= @body.sensor_size %></td>
				</tr>
				<tr>
					<td>マウント</td>
					<td><%= @body.mount %></td>
				</tr>
				<tr>
					<td>film or degital</td>
					<td><%= @body.film %></td>
				</tr>
				<tr>
					<td>reflex or mirrorless</td>
					<td><%= @body.reflex %></td>
				</tr>
				<tr>
					<td>レンズ交換</td>
					<td><%= @body.interchangeable %></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">
		<table>
			<tr>
				<% @photos.each do |photo| %>
				<td><%= image_tag photo.image, size:"250x250" %><br>
					<%= link_to "#{photo.title}" ,photo_path(photo.id) %>
					<%= link_to "(@#{photo.user.account_id })", user_path(photo.user.id) %>
				</td>
				<% end %>
			</tr>
		</table>
	</div>
</div>

