<div class="container">
	<h2>ジャンル編集</h2>
	<hr>
	<div class="row">
		<div class="col-xs-3">
			<%# どのジャンルに属しているかの表示 %>
			<%=	form_for([@rough_genre, @detail_genre], url: rough_genre_detail_genre_path(@rough_genre.id)) do |f|%>
			<%= f.text_field :genre, autofocus: true, class:"form-control", autocomplete: "on" %>
			<%= f.submit "更新", class:"btn btn-success btn-sm" %>
			<%= link_to "削除", rough_genre_detail_genre_path(@rough_genre.id, @detail_genre.id), method: :delete, class:"btn btn-danger btn-sm" %>
			<% end %>
			<%= link_to "戻る", :back, class:"btn btn-default btn-sm" %>
		</div>
	</div>
</div>