<div class="container">
	<h2>ジャンル追加(<%= @rough_genre.genre %>)</h2>
	<hr>
	<div class="row">
		<div class="col-xs-3">
			<%= form_for([@rough_genre, @detail_genre], url: rough_genre_detail_genres_path(@rough_genre.id)) do |f| %>
			<%= f.text_field :genre %>
			<%= f.submit "ジャンル追加", class:"btn btn-primary btn-sm" %>
			<% end %>
			<%= link_to "戻る", :back, class:"btn btn-default btn-sm" %>
		</div>
	</div>
	<div class="row">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<% @rough_genre.detail_genres.each do |detail_genre| %>
					<td class="col-xs-4">
						<%= detail_genre.genre %>
						<%= link_to "編集", edit_rough_genre_detail_genre_path(@rough_genre.id, detail_genre.id), class:"btn btn-success btn-sm" %>
					</td>
					<% end %>
				</tr>
			</tbody>
		</table>
	</div>
</div>