<div class="container">
	<h2><%= "#{current_user.name}" %>@<%= "#{current_user.account_id}" %></h2>
	<% if @user.id == current_user.id %>
	<%= link_to "ユーザー編集", edit_user_registration_path(@user.id), class:"text-right" %>
	<% end %>
	<hr>
	<div class="row">
		<table>
			<tbody>
				<tr>
					<% @photos.each do |photo| %>
					<td><%= photo %></td><br>
					<td><%= photo.title %></td>
					<% end %>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">
	</div>
	<div class="row">
	</div>
</div>
