<div class="container">
	<h2>ジャンルグループ</h2>
	<hr>
	<div class="row">
		<%= form_for(@rough_genre) do |f| %>
		<%= f.text_field :genre %>
		<%= f.submit "グループ追加" %>
		<% end %>
		<%= link_to "戻る", :back %>
	</div>
	<% @rough_genres.each do |rough_genre| %>
	<div class="pull-left table-responsive col-xs-3">
		<table class="table table-borderd">
			<tr>
				<td><%= link_to "#{rough_genre.genre}", edit_rough_genre_path(rough_genre.id) %></td>
			</tr>
		</table>
	</div>
	<% end %>
</div>
