<div class="container">
	<h2>レンズ追加</h2>
	<hr>
	<div class="row">
		<%= form_for(@lens, url: '/lens_systems') do |f| %>
		<table>
			<tbody>
				<tr>
					<td>メーカー:</td>
					<td><%= f.collection_select :manufacturer_id, @manufacturers, :id, :manufacturer, :prompt => "メーカーを選択" %>
						<%= link_to "メーカー追加", new_manufacturer_path, class:"btn btn-default btn-sm" %></td>
				</tr>
				<tr>
					<td>レンズ名:</td>
					<td><%= f.text_field :name %></td>
				</tr>
				<tr>
					<td>マウント:</td>
					<td><%= f.text_field :mount %></td>
				</tr>
				<tr>
					<td>レンズタイプ(単焦点, 魚眼, etc.):</td>
					<td><%= f.text_field :type %></td>
				</tr>
				<tr>
					<td>AF,MF,AF/MF:</td>
					<td><%= f.text_field :focus_system %></td>
				</tr>
				<tr>
					<td>F値:</td>
					<td><%= f.text_field :minimum_aperture %>〜<%= f.text_field :maximum_aperture %></td>
				</tr>
				<tr>
					<td>焦点距離:</td>
					<td><%= f.text_field :minimum_focal_length %>mm〜<%= f.text_field :maximum_focal_length %>mm</td>
				</tr>
				<tr>
					<td><label><%= f.radio_button :full_frame_support, "able" %>フルサイズ対応</label>
						<label><%= f.radio_button :full_frame_support, "aps_c" %>APS-C専用</label></td>
				</tr>
				<tr><td><%= f.submit "レンズ追加", class:"btn btn-primary btn-sm" %></td></tr>
				<% end %>
			</tbody>
		</table>
		<%= link_to "戻る", :back, class:"btn btn-default btn-sm" %>
	</div>
	<div class="row">
		<% @lenses.each do |lens| %>
		<table class="table table-bordered">
			<tr>
				<td class="col-xs-4">
					<%= link_to "#{lens.name}", edit_lens_system_path(lens.id) %>
				</td>
			</tr>
		</table>
		<% end %>
	</div>
</div>