<div class="container" style="margin-bottom: 100px;">
	<h2>レンズ詳細</h2>
	<hr>
	<%= notice %>
	<div class="row">
		<table class="table table-bordered">
			<thred>
				<tr>
					<th colspan="2"><%= @lens.name %></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>メーカー</td>
					<td><%= @lens.manufacturer.manufacturer %></td>
				</tr>
				<tr>
					<td>マウント</td>
					<td><%= @lens.mount %></td>
				</tr>
				<tr>
					<td>レンズタイプ</td>
					<td><%= @lens.type %></td>
				</tr>
				<tr>
					<td>フルサイズ対応</td>
					<td><%= @lens.full_frame_support %></td>
				</tr>
				<tr>
					<td>AF,MF,AF/MF</td>
					<td><%= @lens.focus_system %></td>
				</tr>
				<tr>
					<td>F値</td>
					<td>F<%= @lens.minimum_aperture %>~
						F<%= @lens.maximum_aperture %>
					</td>
				</tr>
				<tr>
					<td>焦点距離</td>
					<td><%= @lens.minimum_focal_length %>mm~
						<%= @lens.maximum_focal_length %>mm</td>
				</tr>
			</tbody>
		</table>
		<%= link_to "レンズ情報を編集する", edit_lens_system_path(@lens.id), class:"btn btn-success btn-sm" %>
	</div>
	<div class="row">
		<h2>レンズ作例</h2>
		<hr>
		<table>
			<tr>
				<% @photos.each do |photo| %>
				<td><%= image_tag photo.image, size:"250x250" %><br>
					<%= link_to "#{photo.title}" ,photo_path(photo.id) %>
					<%= link_to "(@#{photo.user.account_id })", user_path(photo.user.id) %>
				</td>
				<% end %>
			</tr>
		</table>
	</div>
</div>