<div class="container" style="margin-bottom: 100px;">
	<div class="row">
		<%= notice %>
		<table>
			<tbody>
				<tr>
					<% @photos.each do |photo| %>
					<td><%= image_tag photo.image, size:"250x250" %><br>
						<%= link_to "#{photo.title}" ,photo_path(photo.id) %>
						<%= link_to "(@#{photo.user.account_id })", user_path(photo.user.id) %>
					</td>
					<% end %>
				</tr>
			</tbody>
		</table>
	</li>
	<div class="col-xs-7 col-xs-offset-5">
		<%#		<%= paginate @photos, class:"paginate" %>
	</div>
</div>
</div>
