<div class="container">
	<h2>写真を選択</h2>
	<hr>
	<div class="row">
		<%= form_for @photo, url: photos_path do |f| %>
		<table>
			<tbody>
				<tr>
					<td>写真を選択してください</td>
					<td><%= f.file_field :image %></td>
				</tr>
				<tr>
					<td><%= f.grouped_collection_select(:detail_genre_id, RoughGenre.all, :detail_genres, :genre, :id, :genre, :prompt => "ジャンルを選択") %></td>
					<td><%= link_to "ジャンル追加", new_rough_genre_path, class:"btn btn-default btn-sm" %>
					</td>
				</tr>
				<tr>
					<td><%= f.submit "次へ" %></td>
				</tr>
			</tbody>
		</table>
		<% end %>
	</div>
</div>