<div class="container">
	<div class="row">
		<%= notice %>
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<h3 style="margin: 10px;"><%= @photo.title %></h3>
			</div>
		</div>
		<div class="col-xs-8 col-xs-offset-2">
			<%= image_tag @photo.image, style:"width: 100%;"%>
		</div>
	</div>

	<% if user_signed_in? %>
	<div class="row" style="font-size: 20px;">
		<div class="col-xs-8 col-xs-offset-2">
			<% if @photo.favorited_by?(current_user) %>
			<%= link_to photo_favorites_path(@photo), method: :delete, "data-disable-with" => "送信中" do%>
			<i class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></i>
			<%= @photo.favorites.count %>
			<% end %>
			<% else %>
			<%= link_to photo_favorites_path(@photo), method: :post, "data-disable-with" => "送信中" do %>
			<i class="glyphicon glyphicon-heart" aria-hidden="true"></i>
			<%= @photo.favorites.count %>
			<% end %>
			<% end %>
			<i class="glyphicon glyphicon-comment" aria-hidden="true"></i>
			<%= @photo.comments.count %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<strong><%= link_to "@#{@photo.user.account_id}", user_path(@photo.user.id) %></strong><br>
			<%= @photo.caption %>
			<% if @photo.user == current_user %>
			<%= link_to "編集", edit_photo_path(@photo.id), class:"btn btn-success btn-sm" %>
			<%= link_to "削除", photo_path(@photo.id), method: :delete, class:"btn btn-danger btn-sm" %>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<%= form_for [@photo, @comment] do |f| %>
			<%= f.text_area :comment, class:"form-comtrol" %>
			<%= f.submit "コメントを送信", class:"btn btn-default" %>
			<% end %>
		</div>
	</div>

	<% else %>
	<div class="row" style="font-size: 20px;">
		<div class="col-xs-8 col-xs-offset-2">
			<i class="glyphicon glyphicon-heart" aria-hidden="true"></i>
			<%= @photo.favorites.count %>
			<i class="glyphicon glyphicon-comment" aria-hidden="true"></i>
			<%= @photo.comments.count %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<strong><%= link_to "@#{@photo.user.account_id}", user_path(@photo.user.id) %></strong><br>
			<%= @photo.caption %>
			<% if @photo.user == current_user %>
			<%= link_to "編集", edit_photo_path(@photo.id), class:"btn btn-success btn-sm" %>
			<%= link_to "削除", photo_path(@photo.id), method: :delete, class:"btn btn-danger btn-sm" %>
			<% end %>
		</div>
	</div>
	<% end %>
	<hr>
	<div class="row" style="margin-bottom: 100px;">
		<div class="col-xs-offset-2">
			<h4>コメント</h4>
			<table>
				<% @photo.comments.each do |comment| %>
				<tr>
					<td class="col-xs-2"><strong><%= link_to "@#{comment.user.account_id}", user_path(comment.user.id) %></strong></td>
					<td class="col-xs-6"><%= comment.comment %></td>
					<td class="col-xs-2"><%= comment.created_at.strftime('%Y/%m/%d') %></td>
					<% if comment.user == current_user %>
					<td class="col-xs-1"><%= link_to "編集", edit_photo_comment_path(comment.photo.id, comment.id), class:"btn btn-success btn-sm" %></td>
					<td class="cfol-xs-1"><%= link_to "削除", photo_comment_path(comment.photo.id, comment.id), class:"btn btn-danger btn-sm", method: :delete, "data-comfirm" => "コメントを削除しますか？" %></td>
					<% end %>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
