<!DOCTYPE html>
<html>
<head>
  <title>PHOTOcam</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="nav navbar-inverse">
    <div class="container-fluid">
      <h1 class="text-center centrer-block text-muted">PHOTOcam</h1>
      <nav class="nav navbar-nav navbar-left">
        <li><%= form_tag() do %>
          <%= text_field_tag :search %>
          <%= submit_tag "検索"%>
          <% end %>
        </li>
        <li><%= link_to "カメラ作例", bodies_path %></li>
        <li><%= link_to "レンズ作例", lenses_path %></li>
      </nav>
      <nav class="nav navbar-nav navbar-right">
        <li><%= link_to "ログイン", new_user_session_path %></li>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
      </nav>
    </div>
  </div>
  <%= yield %>
</body>
<footer>
  <div class="nav navbar-inverse">
    <div class="container">
    <p class="text-center text-muted">PHOTOcam</p>
    </div>
  </div>
</footer>
</html>
